@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /* THEME 1 */
    --main-bg-color: hsl(222, 26%, 31%);
    --toggle-bg-color: hsl(223, 31%, 20%);
    --display-bg-color: hsl(224, 36%, 15%);
       /* THEME 1 BUTTON COLORS*/
    --btn-blue-color: hsl(225, 21%, 49%);
    --btn-blue-color-shadow: hsl(224, 28%, 35%);
    --btn-red-color: hsl(6, 63%, 50%);
    --btn-red-color-shadow: hsl(6, 70%, 34%);
    --btn-grey-color: hsl(30, 25%, 89%);
    --btn-blue-color-shadow: hsl(30, 25%, 89%);
        /* THEME 1 TEXT COLOR */
    --text-gray: hsl(221, 14%, 31%);
    --text-white: hsla(0, 0%, 100%, 0.979);

    /* TYPOGRAPHY */
    --border-radius: .5rem;
} 
body {
    font-size: 32px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    background-color: var(--main-bg-color);
    /* min-width: 375px; */
    margin: 1rem auto;


    
}
.center {
    margin: 2rem auto;
    /* outline: 2px solid red; */
    text-align: center;
    max-width: 375px;
    /* max-width: 100%; */
}


#display {
    background-color: var(--display-bg-color);
    border: none;
    border-radius: var(--border-radius);
    margin-bottom: 1.25rem;
    width: 100%;
    padding: 2rem 1rem ;
    text-align: right;
    font-size: 2.5rem;
    color: var(--text-white);

}


.buttons {
    table-layout: fixed; /*This line gives the buttons in the table equal with*/
    border-collapse: separate; /* Creates spacing between the borders of table cells*/
    border-spacing: 1rem;
    background-color: var(--toggle-bg-color);
    border-radius: var(--border-radius);
    padding: 1.8rem 1rem 1rem;
    width: 100%;
    height: 70vh; 
}

input[type=button] {
    font-family: inherit;
    font-size: 1.5rem;
    width: 100%;
    height: 4.5rem;
    /* padding: 1.3rem; */
    border-radius: .4rem;
    border: none;
    text-align: center;
    
    box-shadow: 0 6px 1px -1px gray;

}
input[value=del],
input[value=reset] {
    color: var(--text-white);
    background-color: var(--btn-blue-color);
    text-transform: uppercase;

    /* box-shadow: 0 6px 1px -1px var(--btn-blue-color-shadow); */
}






































/* <!-- Feel free to remove these styles or customise in your own stylesheet 👍 --> */
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
